@model FluxoCaixa.Lancamentos.Application.ViewModels.LancamentoViewModel

@{
    ViewData["Title"] = "Excluir Lançamento";
}

<h1>Excluir Lançamento</h1>

<h3>Realmente deseja excluir esse lançamento?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRecebimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRecebimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoLancamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoLancamento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
