@model FluxoCaixa.Lancamentos.Application.ViewModels.LancamentoViewModel

@{
    ViewData["Title"] = "Detalhar Lançamento";
}

<h1>Detalhar Lançamento</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRecebimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRecebimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoLancamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoLancamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar a Lista</a>
</div>
